.pdf-thumbnail {
	margin-top: 1rem;
	margin-bottom: 1.75rem;
	padding: 4px;
}

h3.pdf-thumbnail-title {
	font-size: var(--wp--preset--font-size--medium);
	margin-top: 0;
}

.link-to-pdf img {
	box-shadow: 2px 2px 5px rgba(53, 53, 47, 0.2);
	margin-bottom: 4px;
}

.alignleft .link-to-pdf img {
	margin-right: 1.25rem;
}

.alignright .link-to-pdf img {
	margin-left: 1.25rem;
}